n8n/workflow.json
{
  "name": "Aparthotel — Cancellation Risk Retention Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-booking",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-1-webhook",
      "name": "Webhook: New booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-lead-time",
              "leftValue": "={{ $json.lead_time_days }}",
              "rightValue": 3,
              "operator": { "type": "number", "operation": "lt" }
            },
            {
              "id": "cond-ota-channel",
              "leftValue": "={{ $json.booking_channel }}",
              "rightValue": "Booking.com",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "any"
        }
      },
      "id": "node-2-filter",
      "name": "Filter: high-risk booking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a guest relations assistant for a premium European aparthotel. Write warm, concise guest messages under 120 words."
            },
            {
              "role": "user",
              "content": "=Write a short retention message for {{ $('Webhook: New booking').item.json.guest_name }} who booked {{ $('Webhook: New booking').item.json.property }} checking in on {{ $('Webhook: New booking').item.json.check_in }}. Lead time is {{ $('Webhook: New booking').item.json.lead_time_days }} days. Offer a free late check-out (until 2pm) to confirm their booking. Include this link: https://aparthotel.com/book?ref=retention"
            }
          ]
        }
      },
      "id": "node-3-ai",
      "name": "AI: Generate retention message",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "fromEmail": "guestrelations@aparthotel.com",
        "toEmail": "={{ $('Webhook: New booking').item.json.guest_email }}",
        "subject": "=Your stay at {{ $('Webhook: New booking').item.json.property }} — a little something from us",
        "text": "={{ $json.message.content[0].text }}"
      },
      "id": "node-4-email",
      "name": "Send: Email via SendGrid",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Retention Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toISOString() }}",
            "Booking ID": "={{ $('Webhook: New booking').item.json.booking_id }}",
            "Guest first name": "={{ $('Webhook: New booking').item.json.guest_name.split(' ')[0] }}",
            "Property": "={{ $('Webhook: New booking').item.json.property }}",
            "Channel": "={{ $('Webhook: New booking').item.json.booking_channel }}",
            "Lead time (days)": "={{ $('Webhook: New booking').item.json.lead_time_days }}",
            "Message sent": "={{ $('AI: Generate retention message').item.json.message.content[0].text }}",
            "Status": "sent"
          }
        }
      },
      "id": "node-5-sheets",
      "name": "Log: Google Sheets audit trail",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {},
      "id": "node-6-end",
      "name": "End: No action needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [650, 420]
    }
  ],
  "connections": {
    "Webhook: New booking": {
      "main": [[{ "node": "Filter: high-risk booking?", "type": "main", "index": 0 }]]
    },
    "Filter: high-risk booking?": {
      "main": [
        [{ "node": "AI: Generate retention message", "type": "main", "index": 0 }],
        [{ "node": "End: No action needed", "type": "main", "index": 0 }]
      ]
    },
    "AI: Generate retention message": {
      "main": [[{ "node": "Send: Email via SendGrid", "type": "main", "index": 0 }]]
    },
    "Send: Email via SendGrid": {
      "main": [[{ "node": "Log: Google Sheets audit trail", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Flags high-risk hotel bookings (short lead time or OTA channel), generates a personalised AI retention message, sends via email, and logs every action to Google Sheets for audit.",
    "project": "Project 5 — Aparthotel AI Strategy",
    "author": "Daria Bystrova"
  }
}
